{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col h-screen bg-white dark:bg-gray-900 p-5">
        {% include "navbar.html" %}
        <form id="form-editor" class="flex-1 flex justify-center my-5 overflow-auto" method="post" action="{% url 'notes:create' %}">
            {% csrf_token %}
            <div class="relative flex flex-col w-full max-w-5xl border-2 border-gray-400 dark:border-gray-600">
                <input type="text" id="id_title" class="text-sm w-full p-2.5 bg-white dark:bg-gray-900 dark:placeholder-gray-400 text-gray-900 dark:text-white border-0 focus:ring-0" name="title" maxlength="200" placeholder="Write your title here...">
                <hr class="h-[1px] bg-gray-300 dark:bg-gray-700 border-0">
                <div id="editor" class="text-sm w-full h-full p-2.5 bg-white dark:bg-gray-900 text-gray-900 dark:text-white border-0 outline-none cursor-text overflow-y-scroll empty:before:content-[attr(placeholder)] empty:before:text-gray-400" contenteditable="true" placeholder="Write your note here..."></div>
                <textarea class="hidden" name="content" id="id_content"></textarea>
                <button type="submit" class="absolute bottom-5 right-5 md:bottom-8 md:right-8 xl:bottom-10 xl:right-10 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 rounded-2xl p-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="w-6 h-6 md:w-8 md:h-8 xl:w-10 xl:h-10 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                        <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
                        <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2Zm-2.359 10.707-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L7 12.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                </button>
            </div>
        </form>
        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script_footer %}
    {{ block.super }}
    <script src="{% static 'js/notes.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
{% endblock %}
