{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'notes:detail' form.instance.id %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="button" id="editButton" value="edit">
        <input type="submit" id="saveButton" value="save" hidden>
    </form>
{% endblock %}

{% block script_footer %}
    {{ block.super }}
    <script>
        document.getElementById("editButton").onclick = function() {
            document.getElementById("id_title").removeAttribute("readonly");
            document.getElementById("id_content").removeAttribute("readonly");
            document.getElementById("editButton").setAttribute("hidden", "hidden");
            document.getElementById("saveButton").removeAttribute("hidden");
        };
    </script>
{% endblock %}
