{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col min-h-screen bg-white dark:bg-gray-900 p-5">
        {% include "navbar.html" %}
        {% if note_list %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 content-start flex-1 my-5">
            {% for note in note_list %}
                <form class="relative group" method="post" action="{% url 'notes:delete' note.id %}?ref={{ request.get_full_path }}" tabindex="0">
                    {% csrf_token %}
                    <div class="flex flex-col h-16 border border-gray-300 dark:border-gray-800">
                        <p class="text-xs font-bold uppercase text-center bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-200 py-1">Note</p>
                        <a href="{% url 'notes:detail' note.id %}" tabindex="-1" class="h-full bg-gray-50 dark:bg-gray-700 px-2.5 py-2 group-hover:border-b-blue-500 group-hover:border-b-4">
                            <p class="note-title text-sm font-medium truncate text-gray-900  dark:text-gray-300">{% if note.title != "" %} {{ note.title}} {% else %} Untitled {% endif %}</p>
                        </a>
                        <div id="tooltip-{{ forloop.counter0 }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:text-gray-900 dark:bg-white">
                            {% if note.title != "" %} {{ note.title}} {% else %} Untitled {% endif %}
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <button type="submit" tabindex="-1" class="absolute -top-2 -end-2 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full p-1.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 hidden group-hover:block group-focus:block">
                        <svg class="w-2 h-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </form>
            {% endfor %}
            </div> 
        {% else %}
            <div class="flex-1 my-5">
                <p class="text-base text-center font-normal text-gray-900 dark:text-white">There are no notes available, please create a new one!.</p>
            </div>
        {% endif%}
        <a href="{% url 'notes:create' %}" class="fixed bottom-10 right-10 md:bottom-16 md:right-16 xl:bottom-20 xl:right-20 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-2xl p-5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-6 h-6 md:w-8 md:h-8 xl:w-10 xl:h-10 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M.188 5H5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707c-.358.362-.617.81-.753 1.3C.148 5.011.166 5 .188 5ZM14 8a6 6 0 1 0 0 12 6 6 0 0 0 0-12Zm2 7h-1v1a1 1 0 0 1-2 0v-1h-1a1 1 0 0 1 0-2h1v-1a1 1 0 0 1 2 0v1h1a1 1 0 0 1 0 2Z"/>
                <path d="M6 14a7.969 7.969 0 0 1 10-7.737V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H.188A.909.909 0 0 1 0 6.962V18a1.969 1.969 0 0 0 1.933 2h6.793A7.976 7.976 0 0 1 6 14Z"/>
            </svg>
        </a>
        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script_footer %}
    {{ block.super }}
    <script src="{% static 'js/notes.js' %}"></script>
{% endblock%}
